<center>
<h1 style="color:red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus iure id reprehenderit voluptatibus beatae nemo, nostrum voluptate reiciendis eligendi! Nobis tempore placeat itaque maxime obcaecati corrupti repellat iusto. Minus, animi!</h1>
<p></p>
</center>